<form action="/admin/products/" method="POST">
    <div class="grid-padded">
        <div class="grid">
            <div class="col col-12">
                <input name="" type="text" value="" />
            </div>
        </div>
    </div>
</form>
