.container {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.cell {
    display: table-cell;
    position: relative;
    min-height: 1px;
    vertical-align: top;
}

.cell--with-padding {
    padding: 0 1em;
}

.cell--one {
    width: 8.333333%;
}

.cell--two {
    width: 16.666667%;
}

.cell--three {
    width: 25%;
}

.cell--four {
    width: 33.333333%;
}

.cell--five {
    width: 41.666667%;
}

.cell--six {
    width: 50%;
}

.cell--seven {
    width: 58.333333%;
}

.cell--eight {
    width: 66.666667%;
}

.cell--nine {
    width: 75%;
}

.cell--ten {
    width: 83.333333%;
}

.cell--eleven {
    width: 91.666667%%;
}

.cell--twelve {
    width: 100%;
}
