body {
    background-color: #edf2f4;
}

.layout {
    background-color: #f5f5f5;
}

.layout__sidebar {
    /*background-color: #3ca5f2;*/
    /*background-color: #2196F3;*/
    /*background: #C02425; [> fallback for old browsers <]*/
    /*background: -webkit-linear-gradient(to left, #C02425 , #F0CB35); [> Chrome 10-25, Safari 5.1-6 <]*/
    /*background: linear-gradient(to left, #C02425 , #F0CB35); [> W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ <]*/

    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
    background: #FFB75E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
}

.layout__sidebar .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout__sidebar .link__container {
}

.layout__sidebar .link {
    display: block;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.layout__sidebar .link:hover,
.layout__sidebar .link:active,
.layout__sidebar .link:focus,
.layout__sidebar .link:visited {
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

.layout__header {
    color: rgba(0, 0, 0, 0.84);
    position: relative;
    background: white;
    padding-left: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.layout__content {
    padding: 1rem;
}

.header__title {
    font-size: 1.5em;
    font-weight: 400;
    padding: 1rem 0;
    margin: 0;
}

.header__add-button {
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0;
    transform: translateY(50%);
    border-radius: 2rem;
    background: #4CAF50;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-decoration: none;
    color: white;
    z-index: 999;
}

.btn-primary {
    color: #fff;
    background-color: #3ca5f2;
    border-color: #0275d8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #01549b;
}

.product-list {
    margin-top: 1rem;
}

.product__container {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product {
    padding: 0;
    margin-bottom: 2rem;
}

.product__image-container {
}

.product__image {
    margin-top: 1rem;
    max-width: 100%;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.08);*/
}

.product__details {
}

.product__title {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 0.75em;
}

.product__description {
    font-size: 0.75em;
    margin: 0;
}

.product__stock {
    font-size: 1em;
    color: orange;
    text-align: right;
    margin: 0;
}

.product__price {
    font-size: 1.5em;
    color: green;
    text-align: right;
    margin: 0 0 0.25rem 0;
}

.product__actions {
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: right;
    font-size: 0.75em;
    padding: 1rem 0;
}

.product__not-featured {
    fill: rgba(0, 0, 0, 0.38);
}

.product__not-in-home {
    fill: rgba(0, 0, 0, 0.38);
}

.product__featured {
    fill: orange;
}

.product__in-home {
    fill: blue;
}

@media (min-width: 600px) {

    .layout__sidebar {
        height: 100vh;
    }

    .layout__sidebar .links {
        margin-top: 2rem;
        list-style: none;
        padding: 0;
    }

}
