body {
    background-color: #f3f5f8;
}

header, footer {
    background-color: #45414e;
    color: #FFFFFF;
    padding: 3em 0;
}

.header__title {
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    margin-bottom: 2em;
}

.header__menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.header__menu-item {
    display: inline-block;
}

.header__menu-link {
    color: #f0ebfe;
    text-decoration: none;
    margin-right: 1em;
}

.header__menu-item:last-child .header__menu-link {
    margin-right: 0;
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__menu-link:active,
.header__menu-link:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.section__title {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.home__featured {
    background: white;
    padding: 1em 0;
}

.footer__links-title {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.footer__links {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.footer__link-item {
    display: block;
}

.footer__link {
    color: #f0ebfe;
    text-decoration: none;
}

