html, body {
    background-color: #f2f5f7;
    font-size: 16px;
}

.navigation {
    background-color: #ffffff;
}

.navigation__search {
}

.store__name-container {
    text-align: center;
}

.store__name {
    font-size: 1.5em;
    font-weight: normal;
}

.navigation__user-profile {
}

.promoted-products {
}

.promoted-product {
    width: 33.333333%;
    float: left;
    background-color: #e8b1cf;
    padding: 1em;
    border-right: 1px solid #f2f5f7;
}

.promoted-product__image-container {
}

.promoted-product__image {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.promoted-product__details {
}

.promoted-product__title {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.promoted-product__description {
    color: white;
    font-size: 0.75em;
}

.promoted-product__call-to-action {
    font-weight: bold;
    font-size: 0.75em;
    color: black;
    text-align: center;
    padding: 1em 0;
    display: block;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product-list {
    padding: 2em;
}

.product__container {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product {
    padding: 0 1em;
}

.product__image-container {
}

.product__image {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product__details {
}

.product__title {
    font-size: 1em;
}

.product__description {
    font-size: 0.75em;
}

footer {
    background: white;
}
