*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    /*color: #292b2c;*/
    color: rgba(0, 0, 0, 0.54);
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
}

input[type='text'] {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    /*color: #464a4c;*/
    color: rgba(0, 0, 0, .87);
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"]:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
}

small {
    margin-top: 0.25em;
    font-size: 80%;
    font-weight: 400;
    /*color: #636c72;*/
    color: rgba(0, 0, 0, 0.38);
}

.box {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    background: #FFFFFF;
    vertical-align: top;
    position: relative;
}

.box__padding {
    padding: 1rem;
}

.box__border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.form-inline {
    display: inline-block;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group:last-child {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 2.25em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    /*border: 1px solid transparent;*/
    border: none;
    padding: 0 1rem;
    font-size: 0.75em;
    border-radius: 2px;
    /*transition: all .2s ease-in-out;*/
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    text-transform: uppercase;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn.btn-link {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    color: #0275d8;
}

.btn.btn-link:hover {
    text-decoration: underline;
}

.btn:first-child.btn-link {
    padding-left: 0;
}

.btn:last-child.btn-link {
    padding-right: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

table {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 1em;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

table, tr  {
    width: 100%;
}

thead {
    padding-bottom: 3px;
}

th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
}

td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
}

th, td {
    text-align: left;
}

.hide-on-mobile {
    display: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.icon {
    width: 24px;
    height: 24px;
}

@media (min-width: 600px) {

    .hide-on-mobile {
        display: block;
    }

    .show-on-mobile {
        display: none;
    }

}
