*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #edf2f4;
    font-size: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

input[type='text'] {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"]:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
}

small {
    margin-top: 0.25em;
    font-size: 80%;
    font-weight: 400;
    color: #636c72;
}

.form-inline {
    display: inline-block;
}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn.btn-link {
    border-color: transparent;
    background: transparent;
    color: #0275d8;
}

.btn.btn-link:hover {
    text-decoration: underline;
}

table, tr  {
    width: 100%;
}

th, td {
    text-align: left;
}
