<div class="grid">
    <div class="col">
        <h1 class="header__title">
            Categorías
        </h1>
    </div>
</div>
<a href="/admin/categories/new" class="header__add-button btn btn-primary">+</a>
