<ul class="links">
    <li class="link__container">
        <a href="#" class="link">Ordenes</a>
    </li>
    <li class="link__container">
        <a href="#" class="link">Ordenes</a>
    </li>
</ul>
