<ul class="links">
    <li class="link__container">
        <a href="/admin/categories" class="link">Categorías</a>
    </li>
    <li class="link__container">
        <a href="/admin/products" class="link">Productos</a>
    </li>
    <li class="link__container">
        <a href="/admin/config" class="link">Config</a>
    </li>
</ul>
