<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Admin Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/grid.css"/>
        <link rel="stylesheet" href="/css/ui.css"/>
        <link rel="stylesheet" href="/css/dashboard.css"/> -->
        <link rel="stylesheet" href="<%= dashboard_styles %>"/>
        <%= yield_content "styles" %>

        <script src="/js/main.js"></script>
        <%= yield_content "scripts" %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="layout">
            <div class="grid">
                <div class="layout__sidebar cell col-2">
                    <%= render "src/views/partials/admin/sidebar.ecr" %>
                </div>
                <div class="cell col-10">
                    <div class="grid">
                        <div class="layout__header cell col-12">
                            <%= yield_content "header" %>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="layout__content cell col-12">
                            <%= yield_content "content" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script> -->
        <!-- <script src="/js/vendor/bootstrap.min.js"></script> -->
        <!-- <script src="/js/plugins.js"></script> -->
    </body>
</html>
