<div class="grid">
    <div class="col">
        <h1 class="header__title">
            Imagenes de Productos
        </h1>
    </div>
</div>
<a href="/admin/products/images/new" class="header__add-button btn btn-primary">+</a>
